body {
  min-height: 100%;
  font-family: raleway, sans-serif;
  color: #000000;
  background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
}

.dog-card {
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/*background color for "header" and "footer" divs on cards */
.card-bkg-h {
  background: #8AC4FF;
  border: none;
}

.card-bkg {
  background-image: linear-gradient(to top, #CE8AFF, #9A96FF, #8AC4FF);
  border: none;
  border-radius: 0;
}

.card-bkg-f {
  background: #CE8AFF;
  border: none;
}

h3 {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

.dog-img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 4px;
}

.btn-styles {
  background-color: #3f9eff;
  color: #eee;
  font-weight: bold;
  width: 33.33%;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

  .btn-styles:hover {
    color: #eee;
    background-color: #3170af;
  }

#btn-create {
  width: 10%;
  margin: 1rem;
}


