body {
    min-height: 100%;
    font-family: raleway, sans-serif;
    color: #000000;
    background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
}

.body-section {
    background-color: rgba(224,224,255,0.2);
    min-height: 40vh;
    margin-top: 8%;
    display: flex;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.dog-img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

h3 {
    color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.btn-styles {
    background-color: #3f9eff;
    color: #eee;
    font-weight: bold;
    width: 10rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

    .btn-styles:hover {
        color: #eee;
        background-color: #3170af;
    }
