body {
  min-height: 100%;
  font-family: raleway, sans-serif;
  color: #000000;
  background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
}

h3 {
  margin-top: 2rem;
}

.row {
  display: flex;
}

.form-group {
  margin: 1rem 0;
}

.control-label {
  display: none;
}

.dog-img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 4px;
}

.fc-width {
    width: 100%;
    filter: drop-shadow(4px 4px 4px #1c1c1c);
}

.btn-styles {
    background-color: #3f9eff;
    color: #eee;
    font-weight: bold;
    width: 33.33%;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: .5rem .75rem
}

  .btn-styles:hover {
    color: #eee;
    background-color: #3170af;
  }

input::file-selector-button {
    background-color: #3f9eff;
    color: #eee;
    font-weight: bold;
    width: 40%;
    letter-spacing: .1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: .75rem;
    height: 2.5rem;
}

    input::file-selector-button:hover {
        color: #eee;
        background-color: #3170af;
    }
