
@media (max-width: 576px) {
    .container-margin {
        margin-top: 10%;
    }

    .col-xxs-6 {
        width: 70%;
    }
}

@media (min-width: 576px) {
    .container-margin {
        margin-top: 10%;
    }
}

@media (min-width: 768px) {
    .container-margin {
        margin-top: 10%;
    }
}

@media (min-width: 992px) {
    .container-margin {
        margin-top: 10%;
    }
}

@media (min-width: 1200px) {
    .container-margin {
        margin-top: 2%;
    }
}

@media (min-width: 1400px) {
    .container-margin {
        margin-top: 2%;
    }
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

body {
    background: linear-gradient(to top, #CE8AFF, #9A96FF, #8AC4FF);
    background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
    font-family: raleway, sans-serif;
    margin: 0;
}

.body-section {
    background-color: rgba(224,224,255,0.2);
    min-height: 60vh;
    margin-top: 2%;
}

.guess {
    line-height: 1.5rem;
}

.welcome{
    font-size: 1rem;
}

#welcomeText {
    font: .75rem fontawesome;
    font-style: normal;
    letter-spacing: .1rem;
    margin-top: 1.5rem;
}

.dogLogo {
    margin-top: 16%;
    max-width: 50%;
    height: auto;
    filter: drop-shadow(4px 4px 4px #9a9a9a)
}

.textLogo {
    margin-top: 2%;
    max-width: 80%;
    height: auto;
    padding: .25rem 0rem;
    filter: drop-shadow(2px 2px 2px #9a9a9a)
}

.btnLogin {
    position: relative;
    display: inline-block;
    background-color: #3f9eff;
    color: #eee;
    text-align: center;
    border-radius: .25rem;
    text-decoration: none;
    padding: 0.65rem 3rem 0.65rem 3rem;
    margin-top: .5rem;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 16%;
}

    .btnLogin:hover {
        color: #eee;
        background-color: #3170af;
    }
