body {
    /* display: flex;
  justify-content: center;
  align-items: center;*/
    min-height: 100%;
    font-family: raleway, sans-serif;
    color: #000000;
    /*background: linear-gradient(to top, #CE8AFF, #9A96FF, #8AC4FF);*/
    background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem; /*brings logo and form down from top a little*/
}

.logo-image-container {
    margin: 1.5rem;
}

.logo-image {
    max-height: 100px;
    max-width: auto;
    filter: drop-shadow(5px 5px 5px #9a9a9a)
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: variex, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 0.5rem;
}

.form-container {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.login-item {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-field {
    color: #ffff;
    padding: 25px 25px 0;
    margin: 5px 15px 0;
    border-radius: 3px;
}

input {
    border: 0;
    color: #2a2a2a;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.control-label.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.control-label.pass:before {
    content: '\f023';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.form input[type="password"], .form input[type="text"] {
    width: 82%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #3A3F44;
}

.form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

    .form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
        background-color: #eeeeee;
    }

.form-login input[type="submit"] {
    background-color: #3f9eff;
    color: #eee;
    font-weight: bold;
    width: 33.33%;
    text-transform: uppercase;
}

    .form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
        background-color: #3170af;
    }

/*.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}*/ /*not entirely sure what this does yet tbh*/

.form-field.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
