body {
  min-height: 100%;
  font-family: raleway, sans-serif;
  color: #000000;
  background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
}

.body-section {
  background-color: rgba(224,224,255,0.2);
  min-height: 40vh;
  margin-top: 10vh;
  display: flex;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.textLogo {
  margin-top: 2rem;
  max-width: 12rem;
  height: auto;
  padding: .25rem 0rem;
  filter: drop-shadow(2px 2px 2px #9a9a9a)
}

.text-decoration-none {
  color: white;
}

  .text-decoration-none:hover {
    color: #3170af;
  }


