body {
  min-height: 100%;
  font-family: raleway, sans-serif;
  color: #000000;
  background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
}

.btn-styles {
  background-color: #3f9eff;
  color: #eee;
  font-weight: bold;
  width: 10%;
  text-transform: uppercase;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  padding: 0.5rem;
}

.btn-styles-no-bkgcolor {
  color: #eee;
  font-weight: bold;
  width: 10%;
  text-transform: uppercase;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  padding: 0.5rem;
}

  .btn-styles:hover {
    color: #eee;
    background-color: #3170af;
  }



