
/*body Styles*/

body {
    background: linear-gradient(to top, #CE8AFF, #9A96FF, #8AC4FF);
    background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
    font-family: raleway, sans-serif;
    margin: 0;
    max-height: 100vh;
}

.body-section {
    background-color: rgba(224,224,255,0.2);
    min-height: 60vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row-main{
    max-height: 100vh;
}

/*Speech Bubble Styles*/

.speech-bubble {
    position: relative;
    width: 80%;
    background-color: rgba(224,224,255,0.2);
    border-radius: .4rem;
    padding: 1rem;
    margin-left: 10%;
    text-align: center;
}

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: rgba(224,224,255,0.2);
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: -20px;
    }

.speech-text {
    text-align: center;
}

/*Button Styles*/

.buttons-selector {
    margin-top: 2rem;
    width:100%;
}

.btnYesNo {
    background-color: #3f9eff;
    color: #eee;
    text-align: center;
    border-radius: .25rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

    .btnYesNo:hover {
        color: #eee;
        background-color: #3170af;
    }

/*Dog image Styles*/

.retriever {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Breakpoint Specific Styles*/

@media all and (max-width: 800px) {
    body-section {
        min-height: 50vh;
    }

    h2 {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 500px) {

    body-section {
        min-height: 45vh;
    }

    .row {
        --bs-gutter-x: .5rem;
    }

    .speech-bubble {
        padding: .5rem;
    }

    h2 {
        font-size: 1rem;
    }

    .btnYesNo {
        padding: 0.2rem .75rem;
        font-size: .85rem;
    }

    .buttons-selector {
        margin-top: 1rem;
    }
}