
/*Page Styles*/

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    font-family: raleway, sans-serif;
    color: #000000;
    background: linear-gradient(to top, #CE8AFF, #9A96FF, #8AC4FF);
    background: linear-gradient(to top, #8AC4FF, #9A96FF, #CE8AFF);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.container-fluid {
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%
}

/*Logo image Styles*/

.logo-image-signup {
    margin: auto;
    max-width: 100%;
    filter: drop-shadow(5px 5px 5px #9a9a9a);
    cursor: pointer;
}

/*button Styles*/

.btnSignup {
    position: relative;
    display: inline-block;
    background-color: #3f9eff;
    color: #eee;
    text-align: center;
    border-radius: .25rem;
    text-decoration: none;
    padding: 0.65rem 3rem 0.65rem 3rem;
    margin-top: .5rem;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 1.5rem;
}

    .btnSignup:hover {
        color: #eee;
        background-color: #3170af;
    }


/*Form Styles*/

.form.form-signup {
    width: 100%;
}

.signup-text {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    font-size: 2rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .15rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.form-container {
    margin-top: 2%;
    margin-bottom: 10%;
    width: 50%;
    height: auto;
    background-color: rgba(138,196,255,0.35);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.signup-item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.form-signup-item {
    margin-bottom: 20px;
    text-align: center;
}

.form-field {
    color: #ffff;
    padding: 25px 25px 0;
    margin: 5px 15px 0;
    border-radius: 3px;
}

input {
    border: 0;
    color: #2a2a2a;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.control-label.fname:before {
    content: '\f234';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.control-label.lname:before {
    content: '\f234';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.control-label.email:before {
    content: '\f0e0';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.control-label.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.control-label.pass:before {
    content: '\f023';
    font: 14px fontawesome;
    color: rgba(255, 255, 255, 0.8);
}

.form.form-signup input[type="password"], .form.form-signup input[type="text"] {
    width: 70%;
}

.form-signup label {
    background-color: #222222;
    color: #3A3F44;
    border-radius: 0.2rem;
    padding: 0.5rem 1.25rem;
}

.form-signup input[type="text"], .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.text-danger {
    font-size: small;
    text-align: center;
}

@media (max-width: 576px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
