@model LN7.BL.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    @*<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">*@
    <link rel="stylesheet" href="https://use.typekit.net/emp4nbz.css"> @*access Proxima Nova, Raleway from Adobe Fonts*@
    <script src="https://kit.fontawesome.com/bf20b559de.js" crossorigin="anonymous"></script> @*for using fontawesome icons*@
</head>

<div class="wrapper">

    <div class="logo-image-container">
        <a href="#">
            @*links to homepage eventually?*@
            <img class="logo-image" src="~/images/retriever-logo-headonly.png" alt="black dog head with purple magnifying glass over left eye">
        </a>

        <div class="logo-text">
            <h2>Retriever</h2>
        </div>
    </div>

    <div class="form-container">
        <div class="login-item">
            <form asp-action="Login" class="form form-login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-field">
                    <label @*asp-for="Username" *@ class="control-label user"></label>
                    <input asp-for="Username" class="form-control" placeholder="Username" required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-field">
                    <label @*asp-for="Password"*@ class="control-label pass"></label>
                    <input type="Password" asp-for="Password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                    <div class="login-item">
                        <form asp-action="Login" class="form form-login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-field buttons">
                                <input type="submit" value="Login" class="loginBtn" />
                            </div>
                        </form>
                    </div>

                <div class="login-item">
                    <form asp-action="Signup" class="form form-login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-field buttons">
                            <input type="submit" value="Sign Up" class="loginBtn" />
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
