@model LN7.BL.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/emp4nbz.css"> @*access Proxima Nova, Raleway from Adobe Fonts*@
    <script src="https://kit.fontawesome.com/bf20b559de.js" crossorigin="anonymous"></script> @*for using fontawesome icons*@
</head>

<body class="container-fluid">
    <div class="wrapper row d-flex justify-content-center">
        <div class="col-12 col-xxs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xxl-8 mx-auto">
            <div class="container-fluid flex-column justify-content-center">

                <div class="logo-image-container">
                    <img class="logo-image-signup img-fluid mx-auto d-block" src="~/images/retrieverTextandDogSmall.svg" onclick="location.href='@Url.Action("Index", "Home")'" alt="black dog head with white magnifying glass over left eye">
                </div>

                <div class="form-container mx-auto justify-content-center">
                    <div class="signup-item mx-auto justify-content-center">
                        <form asp-action="Create" class="form form-signup">
                            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

                            <h2 class="signup-text">Create Account</h2>

                            <div class="form-group form-signup-item d-flex justify-content-center">
                                <label @*asp-for="First_Name"*@ class="control-label fname"></label>
                                <input asp-for="First_Name" class="form-control" placeholder="First Name" required />
                                <span asp-validation-for="First_Name" class="text-danger"></span>
                            </div>
                            <div class="form-group form-signup-item d-flex justify-content-center">
                                <label @*asp-for="Last_Name"*@ class="control-label lname"></label>
                                <input asp-for="Last_Name" class="form-control" placeholder="Last Name" required />
                                <span asp-validation-for="Last_Name" class="text-danger"></span>
                            </div>
                            <div class="form-group form-signup-item d-flex justify-content-center">
                                <label @*asp-for="Email"*@ class="control-label email"></label>
                                <input asp-for="Email" class="form-control" placeholder="E-mail" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group form-signup-item d-flex justify-content-center">
                                <label @*asp-for="Username"*@ class="control-label user"></label>
                                <input asp-for="Username" class="form-control" placeholder="Username" required />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group form-signup-item d-flex justify-content-center">
                                <label @*asp-for="Password"*@ class="control-label pass"></label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group signup-button">
                                <input type="submit" value="Sign Up" class="btnSignup" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
