@model LN7.BL.Models.Dog

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="ps-2">
    Are you sure you want to delete the dog: @Html.DisplayFor(model => model.BreedName)?
</h3>
<div class="p-2">
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>