@model LN7.BL.Models.GameQuestion

@{
    ViewData["Title"] = "AllQuestionsAsked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>We could not identify Your Dog</h2>
<h4>Try Again?</h4>
<form asp-controller="Question" asp-action="DisplayQuestion" method="post">
    <input type="submit" value="Play" class="signupBtn" asp-controller="Question" asp-action="DisplayQuestion" formmethod="post" />
</form>
