@model LN7.BL.Models.GameQuestion

@{
    ViewData["Title"] = "DisplayQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question</h2>

<form asp-action="DisplayQuestion" asp-controller="Question" method="post">
    <input type="hidden" name="questionState" value="@Model.Question" />
    <h2>@Model?.Question</h2>
    <button type="submit" name="answer" value="true" class="btn btn-success">Yes</button>
    <button type="submit" name="answer" value="false" class="btn btn-danger">No</button>
</form>