@model LN7.BL.Models.GameQuestion

@{
    ViewData["Title"] = "DisplayQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retriever Game</title>
    <link rel="stylesheet" type="text/css" href="~/css/displayQuestion.css" />
    <link rel="stylesheet" href="https://use.typekit.net/emp4nbz.css"> @*access Proxima Nova, Raleway from Adobe Fonts*@
    <script src="https://kit.fontawesome.com/bf20b559de.js" crossorigin="anonymous"></script> @*for using fontawesome icons*@
</head>
<body>
    <section class="body-section">
        <div class="container-fluid row row-main justify-content-center">
            <div class="col-6">
                <div class="speech-bubble">
                    <div class="speech-text d-flex align-items-center justify-content-center">
                        <h2>@Model?.Question</h2>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <form method="post" class="buttons-selector btn-selector-sm btnDivider d-flex justify-content-center">
                        <button asp-controller="Question" asp-action="DisplayQuestion" type="submit" name="answer" value="true" class="btnYesNo btnDisplay btnYes">Yes</button>
                        <button asp-controller="Question" asp-action="DisplayQuestion" type="submit" name="answer" value="false" class="btnYesNo btnDisplay btnNo">No</button>
                    </form>
                </div>
            </div>
            <div class="col-5 d-flex align-items-center">
                <div class="retriever retriever-sm d-flex align-items-center">
                    <img class="img-fluid mx-auto imgDog" src="~/images/dogCharacter.svg" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script>
    if (performance.navigation.type === 1) {
        fetch('/Question/ResetSessionState', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        });
    }
</script>