@model IEnumerable<LN7.WebUI.ViewModels.PlayerStatVM>


@{
    ViewData["Title"] = "Player Stat Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <input class="btn btn-primary btn-dark" name="btnFilter" id="btnMine" type="button" value="My History"/>
    <input class="btn btn-primary" id="btnToday" name="btnFilter" type="button" value="All Games Today" />
    <input class="btn btn-primary" id="btnAll" name="btnFilter" type="button" value="All Games" />
</div>

<div id="dvPartial">
    <partial name="_PlayerStatPartial" model="Model" />
</div>



<script>
  
    let firstBtn = document.getElementById('btnMine');
    let secondBtn = document.getElementById('btnToday');
    let thirdBtn = document.getElementById('btnAll');
    let view = document.getElementById('dvPartial');

    firstBtn.addEventListener('click', () => {
        firstBtn.classList.add('btn-dark');
        secondBtn.classList.remove('btn-dark');
        thirdBtn.classList.remove('btn-dark');
        var answer = firstBtn.defaultValue;
        $("#dvPartial").load('@(Url.Action("GetPlayerStats", "PlayerStat"))?btnFilter=' + encodeURIComponent(answer));
    });

    secondBtn.addEventListener('click', () => {
        secondBtn.classList.add('btn-dark');
        firstBtn.classList.remove('btn-dark');
        thirdBtn.classList.remove('btn-dark');
        var answer = secondBtn.defaultValue;
    $("#dvPartial").load('@(Url.Action("GetPlayerStats", "PlayerStat"))?btnFilter='+ encodeURIComponent(answer));
    });

    thirdBtn.addEventListener('click', () => {
        thirdBtn.classList.add('btn-dark');
        firstBtn.classList.remove('btn-dark');
        secondBtn.classList.remove('btn-dark');
        var answer = thirdBtn.defaultValue;
        $("#dvPartial").load('@(Url.Action("GetPlayerStats", "PlayerStat"))?btnFilter='+encodeURIComponent(answer));
    });
</script>


